
/*
// --- General Congigurations --- 
*/
.clearfix {
    overflow: auto;
}

/*
// === General App Appearance === 
*/

.logo {
	margin-top: 15px;
	text-align: center;
	margin-bottom: 10px;
}

.logo img {
	width: 30%;
	max-width: 300px;
	min-width: 128px;
	height: auto;
}

.app_title {
	text-align: center;
}

.credits {
	margin-top: 5px;
	text-align: center;
}

/*
// === Search Field Component ===
*/
.input-group {
	margin: 0 auto;
}

.input-group button {
	background-color: #3498db;
	color: #fff;
}

.input-group button:hover, 
.input-group button:active {
	background-color: #2980b9;
	color: #fff;
}

/*
// === Weather List Component ===
*/

.weather-list {
	margin-top: 10px;
}

/*
// === Weather Day Component ===
*/

.weather_day_container {
	float: left;
	margin-bottom: 5px;
}

.weather_day {
	text-align: center;
	padding: 2px;
	background-color: rgba(230, 230, 230, 0.2);
	box-shadow: 4px 4px 4px rgb(225, 225, 225);
}

.weather_day p {
	margin-bottom: 1px;
}

.temp {
	display: inline-block;
	margin: 5px 10px;
}

/*
// === Weather Icons === 
*/
.weather_icon {
	height: 128px;
	width: 128px;
	float: left;
	margin-left: 5px;
}

.snow {
	background-image: url('icons/png/snow.png');
}

.thunder {
	background-image: url('icons/png/thunder.png');
}

.rain {
	background-image: url('icons/png/rain.png');
}

.partly_cloudy {
	background-image: url('icons/png/cloud-sun.png');
}

.cloudy {
	background-image: url('icons/png/sky.png');
}

.sunny {
	background-image: url('icons/png/sunny.png');
}













